@import '~bootstrap/scss/bootstrap';
@font-face {
   
    src: url("app/styles/Noto_Sans_SC/NotoSansSC-Regular.otf");
    font-family: Noto;
}

body {
    background-image: url("app/styles/ventibg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Noto, sans-serif;
    
}


#start-form {
    background-color: rgba($color: #000000, $alpha: 0.2);
    padding: 15px;
}

#body-resource {
    background-color: rgba($color: #000000, $alpha: 0.2);
    padding: 15px;
}

p {
    font-size: 18px;
}

button {
    background-color: white;
    border-radius: 4px;
    padding: 4px 12px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 20px;
}

#change {
    display: flex;
    width: auto;
    justify-content: left;
}

#change-pw-form {
    padding-left: 5px;
}
